.main {
    position: relative;
    width: 1020px;
    margin: 0px auto 0px;
    min-height: 800px;
    padding-bottom: 50px;
    padding-top: 20px;
}
.main-left {
    width: 700px;
    float: left;
    margin: 0px 20px 0 0;
    position: relative;
    padding-bottom: 20px;
}
/* 主页菜单 */
.main-menu {
    background-color: #fff;
    clear: both;
    position: relative;
    margin-bottom: 20px;
}
.main-menu-list {
    display: flex;
}
.main-menu li {
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    color: #555;
    height: 46px;
    line-height: 46px;
    margin: 0 10px;
    flex: 1;
    overflow: hidden;
}
.main-menu li.current-main-menu-item {
    border-bottom: solid;
}
.main-menu li:hover {
    border-bottom: solid;
}
.main-content div.current-main-content{
    display: block;
}
.main-content div.nocurrent-main-content{
    display: none;
}
/*主页动态*/
#content-dynamic .post-top {
    background-color: #fff;
    clear: both;
    padding: 18px 0px 5px;
    border-radius: 2px;
    margin-bottom: 15px;
    position: relative;
}
.post-user-info {
    font-size: 14px;
    vertical-align: middle;
    line-height: 100%;
    padding: 0 0 15px 20px;
    float: left;
    box-sizing: border-box;
}
.post-user-info-avatar {
    float: left;
    position: relative;
    margin-right: 10px;
}
.post-user-info-avatar img.avatar {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border-radius: 100%;
    border: 1px solid #f3f3f3;
}
.post-user-info-name {
    margin-left: 50px;
    width: 100%;
}
.honor {
    background-color: #e1e157;
}
.top {
    background-color: #1E9FFF;
    border-radius: 2px;
    cursor: pointer;
}
.mark {
    min-width: 8px;
    border-radius: 9px;
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    padding: 0 5px;
    margin-left: 8px;
    color: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,.1);
}
.post-user-info-time {
    width: 160px;
    margin: 10px 0 0 50px;
    font-size: 13px;
    color: #808080;
    cursor: pointer;
}
.post-user-info-time span {
    margin-left: 10px;
    font-size: 12px;
}
.post-user-info-time i {
    margin-left: 10px;
    font-size: 14px;
}
.post-top>h1 {
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.3em;
    margin: 0px 0px 8px;
    padding: 0px 20px;
    clear: both;
}
.post-content {
    font-size: 15px;
    word-break: break-all;
    line-height: 160%;
    clear: both;
    padding: 0 20px;
}
.post-content p {
    line-height: 30px;
    position: relative;
    color: #24292e;
}
.post-content  a{
    color: #1E9FFF;
}
.post-bar {
    color: #aaa;
    margin: 10px 0 0 0;
    bottom: 0;
    width: 100%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box;
}
.post-bar .author {
    display: block;
}
.post-bar li {
    height: 30px;
    line-height: 30px;
}
.post-bar li {
    margin-right: 30px;
    cursor: pointer;
    float: left;
}
.post-bar li a {
    color: #aaa;
}
.post-bar li a img {
    position: relative;
    margin-top: 5px;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}
/* 主页地图 */
#content-map{
    width: 700px;
    margin: 0 20px 0 0;
    position: relative;
}
.content-map-item{
    padding: 18px 0px 5px;
    margin: 0 0 20px 0;
}
#content-map img {
    position: absolute;
}
.content-map-item li{
    font-size: 20px;
    margin: 0 0 0 60px;
}
.content-map-item a:hover{
    text-decoration: underline;
}
.content-map-item dt{
    float: left;
    padding-right: 30px;
}
.content-map-item dt a{
    font-size: 14px;
    margin: 0 0 0 60px;
    color: #bb5543;
}
.content-map-item dd a{
    font-size: 12px;
    margin-right: 15px;
}
.content-map-item dd a:hover{
    color: #bb5543;
}
/*主页关于*/
#main-about{
    width: 700px;
    margin: 20px 0 0 0;
    position: relative;
    left: 0;
}
/* 关于介绍 */
.about-information {
    padding: 18px 0 5px;
    width: 670px;
    margin: 0 0 20px 20px;
    position: relative;
}
.about-information img{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.about-information h4 {
    font-family:"Microsoft YaHei UI Light";
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: #a26151;
    margin: 20px 0 20px 60px;
}
.about-information p {
    line-height: 28px;
    color: #24292e;
    letter-spacing: .5px;
    font-size: 14px;
    text-transform: capitalize;
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid #afafaf;
    font-family: 'Open Sans', sans-serif;
}
.about-information ul li {
    margin-top: 10px;
    display: inline-block;

}
.about-information .e {
    border-radius: 2px;
    border: 2px solid #a26151;
    color: #fff;
    background: #a26151;
}
.about-information .e:hover {
    border: 2px solid #a26151;
    color: #24292e;
    background: #fff;
}
.about-information .q:hover {
    border: 2px solid #f7d657;
    color: #fff;
    background: #f7d657;
}
.about-information .q {
    border-radius: 2px;
    border: 2px solid #f7d657;
    color: #24292e;
    background: #fff;
}
.about-information ul li a {
    padding: 10px 30px;
    text-decoration: none;
    color: #333;
    font-size: 15px;
    border: 2px solid #333;
}


/*右边栏*/
.main-right {
    float: right;
    position: static;
    width: 300px;
    margin: 0px 0;
}
.main-right h3 {
    font-size: 14px;
    color: #bb5543;
    border-left: 3px solid #bb5543;
    line-height: 16px;
    margin-bottom: 10px;
    padding-left: 8px;
}
/* 用户登录 */
.main-user {
    padding: 10px 10px 20px 10px;
    position: relative;
}
.main-user .inputbox p {
    position: relative;
}
.main-user .inputbox p.sidebar_input_a:before {
    content: "\f007";
    position: absolute;
    top: 10px;
    left: 8px;
    font-family: FontAwesome;
    font-size: 15px;
    margin-left: 4px;
    color: #a3a3a3;
}
.main-user .inputbox p.sidebar_input_b:before {
    content: "\f023";
    position: absolute;
    top: 12px;
    left: 8px;
    font-family: FontAwesome;
    font-size: 15px;
    margin-left: 4px;
    color: #a3a3a3;
}
.main-user .inputbox input {
    vertical-align: middle;
    font-size: 14px;
    width: 280px;
    margin: 0 0 15px;
    padding: 5px 10px 5px 30px;
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}
#main-login {
    width: 135px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    background-color: #e1e157;
    color: #fff;
}
#main-login:hover {
    width: 135px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    background-color: #f7ee57;
    color: #fff;
}
span.main-center {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    position: absolute;
    background: #fff;
    border-radius: 100%;
    text-align: center;
    margin: 6px 0px 0px -8px;
    font-size: 16px;
    color: #7D7979;
}
span.main-center a {
    width: 26px;
    height: 26px;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
}
.main-center .fa-qq {
    color: #0084f9;
}
a.main-register {
    float: right;
    background-color: #68c582;
    border-color: #68c582;
    width: 135px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    color: #fff;
}
a.main-register:hover {
    float: right;
    background-color: #28c76f;
    border-color: #28c76f;
    width: 135px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    color: #fff;
}
/* 燃向CG */
.main-cg{
    padding: 10px 14px 20px 14px;
    position: relative;
}
.main-cg img{
    width: 272px;
    height: 153px;
    border-radius: 2px;
}
.main-cg a span {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -30px;
    margin-top: -30px;
    text-align: center;
    line-height: 64px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
}
.main-cg a i {
    font-size: 22px;
    color: #c3c3c3;
    margin-left: 5px;
}
/* 友情链接 */
.main-link{
    padding: 10px 10px 20px 10px;
    position: relative;
}
.main-link-list {
    margin-left: -2px;
    margin-right: -2px;
    font-size: 0;
    padding-top: 10px;
}
.main-link-list a {
    display: inline-block;
    margin: 2px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px !important;
    text-transform: uppercase;
    color: #888;
    background-color: #fff;
    padding: 5px 8px;
    letter-spacing: 0.03em;
}
.main-link-list a:hover {
    border-color: #bb5543;
    background-color: #bb5543;
    color: #fff;
}